@font-face {
    font-family: 'PixelFont';
    src: url('Resources/Pixels.ttf') format('truetype');

}

.titulo1{
    font-family: 'PixelFont', sans-serif;
    text-align: center;
    border: 2px solid;
    border-radius: 12px;
    background-color: burlywood;
    color: brown;
    font-size: 120px; 
    justify-content: center;
    margin: 38%;
    margin-top: 2%;
    margin-bottom: 0%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


@media (max-width: 768px) {
    .titulo1 {
        background-attachment: scroll;
    }
}

.titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 0%;
}

body{
    background-color: antiquewhite;
    font-family: 'PixelFont', sans-serif;
    color: brown;
}
.intro{
    font-family: PixelFont, sans-serif;
    text-align: center;
    border: 2px solid brown;
    background-color: bisque;
    color: darkred;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    width: 35%;
    padding: 10px;
    font-size: 32px; 
}

.pixelart{
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 999px;
    border: 2px solid black;
}

.chiste{
    margin: auto;
    padding: 10px;
    font-size: 20px;
}

#chisteArea1{
    border: 2px solid;
    resize: none;
    text-align: center;
    margin: 5px;/*por si quieres ajustar algo hector*/
    padding: 0;/*lo mismo*/
    border-radius: 6px;
    height: 100px; 
    width: 400px;
    background-color: wheat;
    color: black;
    font-size: 30px; 
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    font-size: 20px;
}

.botones{
    display: flex; /* Use flexbox layout */
    flex-direction: row; /* Arrange items in a row */
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Align the buttons vertically */
    gap: 10px; /* Add spacing between the buttons */
}
.btn1, .btn2{
    margin: 10px;
    border-radius: 12px;
    height: 50px;
    border-color: brown;
    background-color: burlywood;
    color: brown;
    font-size: 18px;
    color: black;
    border: 2px solid black;
}
.btn2:hover{
    background-color: rgb(158, 120, 56);
    color: black;
    border: 2px solid black;
}

hr{
visibility: hidden;
}

#chisteArea1::-webkit-scrollbar{
    width: 7px;
    background-color:wheat;
    border-radius: 12px;
    border: 1px solid;
}

.ChistesRandom{
    font-size: 50px;
}

.tenor-gif-embed{
    max-width: 10%;
    max-height: 10%;
    margin: auto;
    display: block;
}